html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #21252b;
    font-family: 'lato', sans-serif;
    font-size: 1.6rem;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.info{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #424752;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
}

.time {
    font-size: 9rem;
}